<mat-toolbar class="toolbar-container caprasimo-regular">
  <span>E-Commerce</span>
  <span class="example-spacer"></span>
  <button *ngIf="!isLogin()" matButton="filled" routerLink="/login">LogIn</button>
  <button *ngIf="isLogin()" class="btn btn-danger ms-1" (click)="logOut()">LogOut</button>
</mat-toolbar>

<mat-toolbar class="toolbar-container caprasimo-regular" *ngIf="isLogin()">
  <button matButton routerLink="/" class="text-white">Home</button>
  <button  *ngIf="isAdmin()"  matButton class="ms-2 text-white" routerLink="/createNewProduct" >Create New Product</button>
</mat-toolbar>


