mat-grid-tile{
    border:1px solid lightgray;
    border-radius: 5px;
}
.product-deatails{
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
.product-deatails > img{
    width: 10rem;
    height: 8rem;
    justify-self: center;
}
.description{
    height: 1.5rem;
    overflow: hidden;
}